.footer-container {
    background: linear-gradient(
            60deg,
            rgba(0, 172, 193, 1) 100%,
            rgba(20, 200, 200, 10) 50%
    );

    max-width: 100%;
    min-height: 50px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 20px 40px rgba(84, 58, 183, 0.1);
}

.footer-items {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
}

a {
    color: white;
    text-decoration-line: none;
    transition: color 0.3s ease;
}

a:visited {
    color: white;
    text-decoration-line: none;
}